@import style-baselines

/*  _basic-reset : font/line-height = 20px/30px */

/* 'droid' 400(i) 700(i) || 'meri' 300(i) 400(i) 700(i) 900(i) || 'alex' */

// GENERIC BODY STYLING
body
  background-color: $ambler-dark-green
  color: $white-green
  font-size: $base-font-size
  h1
    +alex(3, 300, 1, $white-green)
  p
    +meri(1, 300, 1, $white-green)


// ADD TOP PADDING TO CLEAR NAV BAR ON JUMP TO

// .push
//   padding-top: 65px


/* ******************************************************* */
/* ***************** END GENERIC STYLES ****************** */
/* ******************************************************* */

/* ******************************************************* */
/* ***************** // NAVIGATION      ****************** */
/* ******************************************************* */
nav
  background-color: $ambler-dark-green
  height: 67px
  padding-top: 10px
  position: fixed
  top: 0
  width: 100%
  z-index: 10
  #logo-sm
    margin-top: -.45em
    padding: -.5em
    margin-right: 1em
  a#home:hover
    border: 0px
  ul
    li
      float: left
      padding-right: 1.5em
      &:last-of-type
        padding-right: 0
      +meri(1, 300, 1, $white-green)
  #menu
    display: none
    +ten40
      display: block
+ten40
  .hide  
    display: none
  #logo-sm
    position: absolute
    left: -15px
    top: 7px
// GENERIC HOVER STATE FOR LINKS
a:hover
  border-bottom: 1px solid $ambler-light-pink

/* ******************************************************* */
/* ***************** // HERO            ****************** */
/* ******************************************************* */
header
  background-image: url(../img/cover.jpg)
  height: 100vh
  background-size: cover
  background-position: bottom
  background-attachment: fixed
  +ten40
    background-image: none 
  #logo
    padding-top: 3em

    // z-index: 1
    // position: absolute
    // // width: 50%
    // top: 45%
    // left: 50%
    // transform: translate(-50%, -55%)

/* ******************************************************* */
/* ***************** // WELCOME         ****************** */
/* ******************************************************* */
.welcome
  background-color: $ambler-grey
  margin-top: -1px // remove hero img white bottom border
  padding: 1em
  h1
    padding-top: 15px
    padding-bottom: 5px
    line-height: .5 
/* ******************************************************* */
/* ***************** // ABOUT           ****************** */
/* ******************************************************* */
.about
  background-color: $ambler-dark-pink
  padding: 1em
  h1,p
    color: $hedsor-chocolate
  h1
    padding-top: 15px
    padding-bottom: 5px
    line-height: .5 
  #cta-txt
    text-align: center
    font-style: italic
  img#claire
    border-radius: 50%
    padding-right: 15px
  .card
    background-color: $white
    +ten40
      // width: 400px
      max-width: 100%
    p
      padding: 1em
    .card-bg
      height: 150px
      position: relative
      .icon
        position: absolute
        left: calc(85% / 2)
        top: 115px
        border-radius: 50% 
    .c-bg-1
      background: url("../img/cards/4.jpg") no-repeat scroll center
      background-position: 0 -110px
      +ten40
        background-position: center
    .c-bg-2
      background: url("../img/cards/2.jpg") no-repeat scroll center
      background-position: -130px -210px
      +ten40
        background-position: center
    .c-bg-3
      background: url("../img/cards/3.jpg") no-repeat scroll center
      background-position: -90px -200px
      +ten40
        background-position: center
    .c-bg-4
      background: url("../img/cards/1.png") no-repeat scroll center
      +ten40
        background-position: center
    .c-bg-5
      background: url("../img/cards/5.jpg") no-repeat scroll center
      background-position: -180px -130px
      +ten40
        background-position: center
    .c-bg-6
      background: url("../img/cards/6.jpg") no-repeat scroll center
      background-position: -100px -300px
      +ten40
        background-position: 0 -300px
        background-position: center
    .c-bg-7
      background: url("../img/cards/7.jpg") no-repeat scroll center
      background-position: -40px -210px
      +ten40
        background-position: center
    .c-bg-8
      background: url("../img/cards/8.jpg") no-repeat scroll center
      background-position: -160px -50px
      +ten40
        background-position: center
/*  ******************************************************* */
/* ***************** // TESTIMONIALS    ****************** */
/* ******************************************************* */
.testimonials
  background-color: $ambler-gold
  padding: 1em
  h1
    padding-top: 15px
    padding-bottom: 5px
    line-height: .5 
  p
    padding: 1.5em
  p::before, p::after
    content: '"'
/* ******************************************************* */
/* ***************** // GALLERY         ****************** */
/* ******************************************************* */
.gallery
  background-color: $ambler-dark-pink
  padding: 1em
  a:hover
    border: 0px 
  img
    padding: 1em
  .thumb
    height: 150px
/* ******************************************************* */
/* ***************** // CONTACT         ****************** */
/* ******************************************************* */
.contact
  background-image: url(../img/assets/6.jpg)
  // height: 100vh
  background-size: contain
  background-position: bottom
  background-attachment: fixed
  background-color: $hedsor-chocolate
  padding: 1em
  .contact-sheet
    // width: 65%
    // +nine40
    //   width: 100%
    margin: auto
    padding: 2em 3em
    background-color: $ambler-silver
    form
      margin-top: 3em
    input, select, textarea
      display: block
      background-color: transparent
      border: 1px solid $ambler-grey
      border-radius: 1px
      outline: none
      margin: 1em 0
      height: 2em
      width: 100%
      color: $white-green
      text-align: center
    textarea
      height: 10em
    ::-webkit-input-placeholder 
      color: $white-green
      transition: opacity 250ms ease-in-out  
    input[type="submit"]
      background: $ambler-gold
      border: 1px solid $ambler-gold
      text-transform: uppercase
    // :focus::-webkit-input-placeholder 
      //   color: $ambler-green

      // :-ms-input-placeholder 
      // :-moz-placeholder
  
      // :focus:-ms-input-placeholder 
      // :focus:-moz-placeholder 
      // :focus::-moz-placeholder

/* ******************************************************* */
/* ***************** // SOCIAL LINKS    ****************** */
/* ******************************************************* */
footer
  background-color: $ambler-light-green
  padding-bottom: 0px
  ul
    +flex-center
    height: 3em
    +meri(1, 300, 1, $white-green)
    li
      a
        &:hover
          border: 0
      padding-right: 1em
      &:last-child
        padding-right: 0
      

/* ******************************************************* */
/* ***************** // CODEMATTCODE    ****************** */
/* ******************************************************* */
.signoff
  // padding-top: 4em
  h6
    +droid(.7, 300, 1, $white-green) 
    text-align: center
    +pad(.5)
